.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
  height: max-content;
  background-color: light-dark(#e4f1fe, #34495e);
  padding: 50px 100px;
  // box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 100vh 10vh;
}

.skill {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-family: "IBM Plex Mono", monospace;
}

.icon {
  @media (max-width: $mantine-breakpoint-md) {
    height: 40px;
  }
  @media (max-width: $mantine-breakpoint-lg) {
    height: 50px;
  }
  height: 55px;
}

.heading {
  font-family: "IBM Plex Mono", monospace;
}

.underscore {
  animation: blinking 1.5s steps(2) infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
}
