.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: rem(80px);
  position: sticky;
  z-index: -1;
  top: 0px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 5vw;
  margin: rem(0px);
}

.subheading {
  font-size: large;
  margin: rem(0px);
  font-family: "IBM Plex Mono", monospace;
}
